@import url('https://fonts.googleapis.com/css2?family=Saira&display=swap');

html {
  font-family: 'Saira';
}


a:link,a:visited{
  color:#B76925;
  text-decoration:none;
}

a:hover{
  color:bisque
}

body {
  background-color: #282828;
  color: #D6D1CB;
  margin:0;
}

.banner{
  background-image: url("/static/images/placeholder.png");
  background-position:center;
  background-repeat: no-repeat;
  background-size:cover;
  position:relative;
  font-size:10vw;
}

nav {
  background-color:#323232;
  text-align: center;
  width:100%;
}

nav a:link, nav a:visited{
  display: inline-block;
  margin-right: -3.5px;
  color: #CDCDCD;
  text-decoration: none;
  padding: 16px 18px;
  font-size: 24px;
}

nav a:hover, a.active:hover {
  background-color: #CDCDCD;
  color: #323232;
}

nav a.active{
  color: #CDCDCD;
  font-weight: bolder;
  padding: 13px 18px;
  padding-top: 16px;
  box-shadow: 0 3px 0 0 #B76925;
}   


.location-images{
  justify-content: space-around;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.location-image img{
  margin-top:50px;
  height:450px;
} 

.location-body{
  margin-left:20px;
}
