@import url('https://fonts.googleapis.com/css2?family=Saira&display=swap');

/* universal */
html {
  font-family: 'Saira';
}

a:link,a:visited{
  color:#B76925;
  text-decoration:none;
}

a:hover{
  color:bisque
}

body {
  background-color: #282828;
  color: #D6D1CB;
  margin:0;
}

.banner{
  background-image: url("/static/images/banner2.jpg");
  background-position:center;
  background-repeat: no-repeat;
  background-size:cover;
  position:relative;
  font-size:21vh;
}

/* home */
.home-container{
  margin: 50px;
  text-align: center;
}

/* navbar */
nav {
  background-color:#323232;
  text-align: center;
  width:100%;
}

nav a:link, nav a:visited{
  display: inline-block;
  margin-right: -3.75px;
  color: #CDCDCD;
  text-decoration: none;
  padding: 16px 18px;
  font-size: 24px;
}

nav a:hover, a.active:hover {
  background-color: #CDCDCD;
  color: #323232;
}

nav a.active{
  color: #CDCDCD;
  font-weight: bolder;
  padding: 13px 18px;
  padding-top: 16px;
  box-shadow: 0 2.75px 0 0 #B76925;
}   

/* location page */
.location-images{
  justify-content: space-around;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.location-image img{
  margin-top:50px;
  height:450px;
} 

.location-body{
  margin-left:20px;
}

/* trader page */
.trader-body{
  display:flex;
  justify-content: left;
}

.trader-body img{
  width:500px;
  height: fit-content;
  margin:25px;
}

.trader-questlist{
  margin-left:20px;
}

/* quest page */
.quest-body{
  display:flex;
  justify-content: left;
  text-overflow: ellipsis;
}

.quest-body img{
  height:265.5px;
  width:471px;
  margin:25px;
  margin-bottom: 0px;
}

.quest-bodytext{
  line-height:10px;
  margin-top:10px;
  margin-right:200px;
}

.quest-bodytext p{
  line-height:22px;
  margin-top:5px;
}

.quest-bodytext h2{
  line-height:normal;
  margin-top:8px;
  margin-bottom: 0px;
}

.quest-bodytext h3{
  font-size: 13px;
  font-weight: normal;
  margin-bottom:2px;
  margin-top:0px;
}

.quest-order{
  display:flex;
  justify-content: left;
  text-align: center;
}
  
.quest-orderlist{
  width:235.5px;
}

.quest-orderlist li{
  list-style-type: none;
}

.quest-lists{
  margin-left:20px;
}

/* quest list page */
.search{
  margin-left:40px;
  margin-top:5px;
}

.search input{
  width:96.5%;
  height:25px;
  background-image: url('/static/images/searchicon.png');
  background-size: 25px 25px;
  background-position: 0px 0px;
  background-repeat: no-repeat;
  padding-left: 25px;
}

.quests {
  background-color:#1A1A1A;
  width:98%;
  margin-bottom: 1px;
}

.quests a{
  display: block;
  color: #D6D1CB;
  text-decoration: none;
  padding: 9px 16px;
  padding-right: 1%;
  font-size: 24px;
  text-align: left;
  box-shadow: 0 1px 0 0 #B76925;
}

.quests a:hover, a.active:hover {
  background-color: #CDCDCD;
  color: #323232;
}

/* trader list page */
.trader-list{
  width:100%;
}

.trader-button {
  text-align: center;
  width:24%;
  margin-left: 0;
  margin-right:0;
  display: inline-block;
}

.trader-button h1{
  margin:0px;
  font-weight:normal;
  line-height:35px;
  font-size: 30px;
}

.trader-button p{
  margin:0px;
  font-weight:normal;
  line-height:20px;
  margin-left:10px;
  margin-right:10px;
}

.trader-button img{
  width:375px;
  height:210px;
}

.trader-button a{
  color:#D6D1CB;
  display: inline-block;
  background-color: #1A1A1A;
  padding:16px;
  border-radius: 10px;
  margin:50px;
}

.trader-button a:hover{
  color:#D6D1CB;
  background-color: #323232;
}

/* location list page */
.location-list{
  width:100%;
}

.location-button {
  text-align: left;
  width:49%;
  margin-left:0;
  margin-right:0;
  display: inline-block;
}

.location-button h1{
  margin:0px;
  font-weight:normal;
  line-height:35px;
  font-size: 30px;
  margin-left:5px;
}

.location-button p{
  margin:0px;
  font-weight:normal;
  line-height:20px;
  margin-left:5px;
  font-size:12.5px;
  line-height:16.5px;
}

.location-button img{
  width:375px;
  height:210px;
}

.location-button a{
  margin:20px;
  color:#D6D1CB;
  display:flex;
  justify-content: left;
  background-color: #1A1A1A;
  padding:16px;
  border-radius: 10px;
}

.location-button a:hover{
  color:#D6D1CB;
  background-color: #323232;
}

/* form pages */
.form-main{
  margin-left:10px;
}

.form-main p{
  margin:5px;
  margin-left:0;
}

.error-message{
  color:rgb(255, 118, 146);
}