{% extends 'layout.html' %}
{% block content %}
<form method="POST" enctype="multipart/form-data">

    {{ form.csrf_token }}
    <p>Password:</p></br>
    {{form.password}}{{form.password.errors}}</br>
    <p>Trader name:</p></br>
    {{ form.name }}{{ form.name.errors }}</br>
    <p>Trader description:</p></br>
    {{ form.desc }}{{ form.desc.errors }}</br>
    <p>Trader image:</p></br>
    {{ form.image }}{{ form.image.errors }}</br>
    <input type="submit" value="Submit">

</form>
{% endblock %}