{% extends 'layout.html' %}
{% block content %}
<form method="POST" enctype="multipart/form-data">

    {{ form.csrf_token }}
    <div class="form-main">
        <div class="error-message"><p>{{file_error}}{{login_error}}</p></div>
        <p>Quest name:</p>
        {{ form.name }}</br>
        <p>Quest description:</p>
        {{ form.desc }}</br>
        <p>Quest level requirement:</p>
        {{ form.lvl }}</br>
        <p>Quest exp reward:</p>
        {{ form.exp }}</br>
        <p>Quest trader:</p>
        {{ form.trader }}</br>
        <p>Quest image:</p>
        {{ form.image }}<br>
        <input type="submit" value="Submit">
    </div>
</form>
{% endblock %}