{% extends 'layout.html' %}
{% block content %}
<form method="POST" enctype="multipart/form-data">

    {{ form.csrf_token }}
    <div class="form-main">
        <div class="error-message"><p>{{password_error}}</p></div>
        <p>Password:</p>
        {{form.password}}{{form.password.errors}}</br>
        <p>Trader name:</p>
        {{ form.name }}{{ form.name.errors }}</br>
        <p>Trader description:</p>
        {{ form.desc }}{{ form.desc.errors }}</br>
        <p>Trader image:</p>
        {{ form.image }}{{ form.image.errors }}</br>
        <input type="submit" value="Submit">
    </div>
</form>
{% endblock %}