{% extends 'layout.html' %}
{% block nav_edit %}active{% endblock %}
{% block content %}

<a href="/add_quest">Add a Quest</a> </br>
<a href="/add_trader">Add a Trader</a> </br>
<a href="/add_location">Add a Location</a></br>     
<a href="/add_reward">Add a Reward</a></br>
<a href="/add_objective">Add a Objective</a></br>
<a href="/connect_location">Connect a Location to a Quest</a></br>
<a href="/connect_quests">Connect Quests</a></br>
<a href="/delete_quest">Delete a Quest</a></br> 
<a href="/delete_trader">Delete a Trader</a></br>
<a href="/delete_location">Delete a Location</a></br>
{% endblock %}