{% extends 'layout.html' %}
{% block nav_locations %}active{% endblock %}
{% block content %}

<div class="location-list">
    {% for location in locations %}
        <div class="location-button">
            <a href="/location/{{ location.id }}">
                <img src = "\static\images\locations\{{ location.image }}"/>
                <div class="location-buttontext">
                    <h1>{{ location.name }}</h1>
                    <p>{{ location.desc }}</p>
                </div>
            </a>
        </div> 
    {% endfor %}
    <div class="location-button"><a href="/add_location">+ Add a Location</a></div>
</div>


{% endblock %}