{% extends 'layout.html' %}
{% block content %}

<div class="location-images">
    <div class="location-image">
        <img src = "\static\images\locations\{{ location.image }}">
    </div>
    <div class="location-image">
        <img src = "\static\images\locations\{{ location.map }}">
    </div>
</div>

<div class=location-body>
    <h2> {{ location }} </h2> 

    <p>{{ location.desc }}</p>

    <p>Quests:</p>
    <ul>
        {% for quest in location.quests %}
            <li><a href="/quest/{{ quest.id }}">{{ quest.name }}</a></li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('delete_location', location_id=location.id) }}">- Delete Location</a>
</div>
{% endblock %}