{% extends 'layout.html' %}
{% block nav_login %}active{% endblock %}
{% block content %}
<form method="POST" enctype="multipart/form-data">

    {{ form.csrf_token }}
    <div class="form-main">
        <div class="error-message"><p>{{login_error}}</p></div>
        <div class="form-heading"><p>Admin Login</p></div>
        <p>Username:</p>
        {{form.username}}</br>
        <p>Password:</p>
        {{ form.password }}</br>
        <input type="submit" value="Login">
        <p>{{login_success}}</p>
    </div>
</form>
{% endblock %} 