{% extends 'layout.html' %}
{% block content %}

<h2> {{ quest }} </h2> 

<p>{{ quest.name }}</p>
<p>{{ quest.desc }}</p>
<p>{{ quest.lvl }}</p>
<p>{{ quest.exp }}</p>
<p><a href="/trader/{{ quest.trader }}">{{ quest.trader_name }}</a></p>

<ul>
    {% for location in quest.locations %}
        <li><a href="/location/{{ location.id }}">{{ location.name }}</a></li>
    {% endfor %}
</ul>

<ul>
    {% for objective in quest.objectives %}
        <li>{{ objective.desc }}</li>
    {% endfor %}
</ul>

<ul>
    {% for reward in quest.rewards %}
        <li>{{ reward.item }}</li>
    {% endfor %}
</ul>

<ul>
    {% for quest in quest.previous %}
        <li><a href="/quest/{{ quest.id }}">{{ quest.name }}</a></li>
    {% endfor %}
</ul>

<ul>
    {% for quest in quest.subsequent %}
        <li><a href="/quest/{{ quest.id }}">{{ quest.name }}</a></li>
    {% endfor %}
</ul>

{% endblock %}