{% extends 'layout.html' %}
{% block content %}

<div class="quest-body">
    <img src = "\static\images\quests\{{ quest.image }}"/>
    <div class="quest-bodytext">
        <h2> {{ quest }} </h2> 
        <h3>Minimum level: lvl.{{ quest.lvl }}</h3><br>
        <p>"{{ quest.desc }}" - <a href="/trader/{{ quest.trader }}">{{ quest.trader_name }}</a></p>
    </div>
</div>

<div class="quest-order">
    <div class="quest-orderlist">
        <ul>
            Previous Quests:<br>
            {% for quest in quest.previous %}
                <li><a href="/quest/{{ quest.id }}">{{ quest.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="quest-orderlist">
        <ul>
            Subsequent Quests:<br>
            {% for quest in quest.subsequent %}
                <li><a href="/quest/{{ quest.id }}">{{ quest.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>

<div class="quest-lists">
    <a href="/connect_quests">+ Add Previous or Subsequent Quest</a>
    <p>Locations:</p>
    <ul>
        {% for location in quest.locations %}
            <li><a href="/location/{{ location.id }}">{{ location.name }}</a></li>
        {% endfor %}
         <li><a href="{{ url_for('connect_location', quest_id=quest.id) }}">+ Add Location</a></li>
    </ul>

    <p>Objectives:</p>
    <ul>
        {% for objective in quest.objectives %}
            <li>{{ objective.desc }}</li>
        {% endfor %}
        <li><a href="{{ url_for('add_objective', quest_id=quest.id) }}">+ Add New Objective</a></li>
    </ul>

    <p>Rewards:</p>
    <ul>
        <li>+{{ quest.exp }} exp</li>
        {% for reward in quest.rewards %}
            <li>{{ reward.item }}</li>
        {% endfor %}
        <li><a href="{{ url_for('add_reward', quest_id=quest.id) }}">+ Add New Reward</a></li>
    </ul>
    <a href="{{ url_for('delete_quest', quest_id=quest.id) }}">- Delete Quest</a>
</div>

{% endblock %}
