{% extends 'layout.html' %}
{% block content %}



<div class="trader-body">
    <img src = "\static\images\traders\{{ trader.image }}">

    <div class="trader-bodytext">
        <h2> {{ trader }} </h2> 
        <p>{{ trader.desc }}</p> 
    </div>
</div>

<div class="trader-questlist">
    <p>Quests:</p>

    <ul>
        {% for quest in trader.quests %}
            <li><a href="/quest/{{ quest.id }}">{{ quest.name }}</a></li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('delete_trader', trader_id=trader.id) }}">- Delete Trader</a>
</div>

{% endblock %}